*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveFromLeft {
  from {
    transform: translateX(-100px); }
  to {
    transform: translateX(0); } }

@keyframes moveFromRight {
  from {
    transform: translateX(100px); }
  to {
    transform: translateX(0); } }

@keyframes moveFromBottom {
  from {
    transform: translateY(30px); }
  to {
    transform: translateY(0); } }

body {
  font-family: " Lato,Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #fff;
  animation: moveFromRight 0.5s ease-out; }
  .heading-primary--main {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 52px;
    letter-spacing: 40px;
    margin-right: -40px; }
  .heading-primary--sub {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
    margin-right: -18px;
    margin-bottom: 20px; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertairy {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-big {
  margin-bottom: 8rem; }

.u-margin-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.4), rgba(126, 213, 111, 0.8)), url("/img/nat-4.jpg ");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  font-size: 1.6rem;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  font-family: inherit;
  transition: all 0.3s;
  position: relative; }

.btn:link:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
  .btn:link:hover::after {
    transform: scale(1.6);
    opacity: 0; }

.btn:link:active {
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: #fff;
  transition: all 0.1s; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--anitemated {
  animation-fill-mode: backwards;
  animation: moveFromBottom 0.5s ease-out; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline;
  text-decoration: none;
  padding: 3px; }

.btn-text:hover {
  background-color: #7ed56f;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2rem);
  color: #fff; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.compositions {
  position: relative; }
  .compositions__photo {
    width: 55%;
    z-index: 10;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    outline-offset: 2rem; }
    .compositions__photo--p1 {
      left: 0;
      top: -2rem; }
    .compositions__photo--p2 {
      right: 0;
      top: 2rem; }
    .compositions__photo--p3 {
      left: 20%;
      top: 10rem; }
    .compositions__photo:hover {
      box-shadow: 0 2.5 3px rgba(0, 0, 0, 0.4);
      z-index: 20;
      outline: 1rem solid #7ed56f;
      transform: scale(1.05); }
  .compositions:hover .compositions__photo:not(:hover) {
    transform: scale(0.95) translateY(-1rem); }

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  text-align: center;
  border-radius: 5px;
  padding: 2.5rem;
  box-shadow: 0 1.5erm 4rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  transition: all 0.3s; }
  .feature-box__icon {
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
    margin-bottom: 2rem;
    color: #28b485;
    display: inline; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.05); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url("/img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 25px;
    left: 25px; }
  .header__logo-img {
    height: 20px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 112rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(100% - 6rem - (100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc(100% - 6rem - (100% - 3 * 6rem) / 4); }

/*

COLORS:

Light green: #7ed56f
Medium green: #55c57a   
Dark green: #28b485

*/
