.compositions {
    position: relative;
    &__photo {
        width: 55%;
        z-index: 10;
        position: absolute;
        border-radius: 2px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.1);
        transition: all 0.3s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            box-shadow: 0 2.5 3px rgba($color-black, 0.4);
            z-index: 20;
            outline: 1rem solid $color-primary;
            transform: scale(1.05);
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95) translateY(-1rem);
    }
}
