@keyframes moveFromLeft {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveFromRight {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveFromBottom {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}
